*{
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(#373B69,#272532);
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#form{
    margin: 1rem;
    padding: 0.5rem;
    background-color: #373B69;
    width: 100%;
}

header{
    background-color: #373b69;
    padding: 1rem;
    max-width: 500px;
    margin: auto;
    justify-content: space-between;
}

.logo{
    width: 50px;
    height: 50px;
    border-radius: 50px; 
    
}

.name{
    color: white;
}


.search{
    border-radius: 50px;
    padding: 0.5rem 1rem;
    background-color: #22254b;
    border: 2px solid #22254b;
    color: #fff;
    font-family: inherit;
    font-size: 1rem;
    width: 100%;

}

.search:focus {
    
    outline: none;
}


main{    
    display: flex;
    flex-wrap: wrap; 
    max-width: 1000px;
    margin: auto;   
}

.movies{
    background-color: #373b69;
    border-radius: 3px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    margin: 1rem;
    width: 300px;
}


.movie-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

main img{
    width: 100%;
}

main span{
    background-color: #22254b;
    border-radius: 3px;
    font-weight: bold;
    padding: 0.25rem 0.5rem;
}



main span.green{
    color:rgb(34, 102, 34)
}
main span.orange{
    color:rgb(156, 116, 40)
}
main span.red{
    color:rgb(131, 41, 35)
}

.overview{
    background-color: #fff;
    padding: 2rem;
    position: absolute;
    max-height: 100%;
    overflow: auto;
    left: 0;
    bottom: 0;
    right: 0;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;  
}  
   
    /* transform: translateY(100%);
    max-height: 100%;
    overflow: auto;
    position: absolute;*/
   
.overview h3 {
    margin-top: 0;
}

.movies:hover .overview {
    transform: translateY(0);
}